<div class="container">
  <div class="mat-elevation-z8">
    <table class="table" mat-table matSortActive="amount" matSortDirection="asc" [dataSource]="dataSource" matSort>

      <!-- amount Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'LIQUIDACIONESCONCEPTOS.DESCRIPCION' | translate }}
        </th>
        <td mat-cell *matCellDef="let row"> {{row.concepto.descripcion}} </td>
      </ng-container>

      <!-- Method Column -->
      <ng-container matColumnDef="importe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'LIQUIDACIONESCONCEPTOS.IMPROTE' | translate }} </th>
        <td mat-cell *matCellDef="let row"> {{row.importe}} </td>
      </ng-container>

      <!-- Method Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'LIQUIDACIONESCONCEPTOS.CANTIDAD' | translate }} </th>
        <td mat-cell *matCellDef="let row"> {{row.cantidad}} </td>
      </ng-container>

      <!-- Method Column -->
      <ng-container matColumnDef="subtotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'LIQUIDACIONESCONCEPTOS.SUBTOTAL' | translate }} </th>
        <td mat-cell *matCellDef="let row"> {{row.subtotal }} </td>
      </ng-container>

      <!-- delete Column -->
      <ng-container matColumnDef="delete">
        <th class="delete-extras" mat-header-cell *matHeaderCellDef> {{ 'DELETE' | translate }} </th>
        <td class="delete-extras" mat-cell *matCellDef="let row">
          <button mat-icon-button color="warn" (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>

    <mat-paginator [pageSizeOptions]="[5, 10,15]"></mat-paginator>
  </div>
</div>
