<section>
  <div class="grid-container register-details animate__animated animate__fadeIn animate__delay-0.4s">
    <mat-tab-group mat-align-tabs="start" class="register-tabs">
      <mat-tab label="Liquidacion">
        <mat-card *ngIf="liquidacion != null">
          <mat-card-header>
            <mat-card-title> Legajo: {{ liquidacion.legajo }}
            </mat-card-title>
            <mat-card-subtitle> {{ 'LIQUIDACIONES.PERIODO' | translate}}: {{liquidacion.periodo | date:'dd/MM/yyyy'}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p *ngIf="liquidacion.area">
              {{ 'LIQUIDACIONES.AREA' | translate}}: {{liquidacion.area }}
            </p>

            <p *ngIf="liquidacion.categoria">
              {{ 'LIQUIDACIONES.CATEGORIA' | translate}}: {{liquidacion.categoria }}
            </p>

            <p *ngIf="liquidacion.seccion">
              {{ 'LIQUIDACIONES.SECCION' | translate}}: {{liquidacion.seccion }}
            </p>

            <p *ngIf="liquidacion.numeroCuenta">
              {{ 'LIQUIDACIONES.NUMEROCUENTA' | translate}}: {{liquidacion.numeroCuenta }}
            </p>

            <p *ngIf="liquidacion.fechaIngreso">
              {{ 'LIQUIDACIONES.FECHAINGRESO' | translate}}: {{liquidacion.fechaIngreso | date:'dd/MM/yyyy' }}
            </p>

            <p *ngIf="liquidacion.createdAt">
              {{ 'LIQUIDACIONES.CREATEDAT' | translate}}: {{liquidacion.createdAt | date:'hh:mm dd/MM/yyyy' }}
            </p>

            <p *ngIf="liquidacion.periodo">
              {{ 'LIQUIDACIONES.PERIODO' | translate}}: {{liquidacion.periodo | date:'MMMM/yyyy' }}
            </p>

            <p *ngIf="liquidacion.tipoContratacion">
              {{ 'LIQUIDACIONES.TIPOCONTRATACION' | translate}}: {{liquidacion.tipoContratacion }}
            </p>

            <p *ngIf="liquidacion.tipoLiquidacion">
              {{ 'LIQUIDACIONES.TIPOLIQUIDACION' | translate}}: {{liquidacion.tipoLiquidacion  | lowercase }}
            </p>

            <p>
              {{ 'LIQUIDACIONES.TOTAL' | translate}}: {{liquidacion.total | currency}}
            </p>

            <p>
              {{ 'LIQUIDACIONES.TOTALREMUNERATIVO' | translate}}:
              {{liquidacion.totalRemunerativo | currency}}
            </p>

            <p>
              {{ 'LIQUIDACIONES.TOTALNOREMUNERATIVO' | translate}}:
              {{liquidacion.totalNoRemunerativo | currency }}
            </p>

            <p>
              {{ 'LIQUIDACIONES.TOTALDEDUCCIONES' | translate}}:
              {{liquidacion.totalDeducciones | currency }}
            </p>

            <p *ngIf="liquidacion.user">
              Id propietario:{{liquidacion.user.id }}
            </p>

            <p *ngIf="liquidacion.user?.fullName">
              {{ 'USERS.FULLNAME' | translate}}:
              {{liquidacion.user.fullName }}
            </p>

            <p *ngIf="liquidacion.user?.cuil">
              {{ 'USERS.CUIL' | translate}}:
              {{liquidacion.user.cuil }}
            </p>

          </mat-card-content>

        </mat-card>
      </mat-tab>
    </mat-tab-group>



    <mat-tab-group class="tabs-extras">

      <mat-tab *ngIf="liquidacionConcepto && liquidacionConcepto.length > 0"
        label="{{ 'LIQUIDACIONESCONCEPTOS.CONCEPTOS' | translate}}">
        <div>
          <app-conceptos-list [liquidacionConcepto]="liquidacionConcepto"></app-conceptos-list>
        </div>

      </mat-tab>


    </mat-tab-group>


  </div>
</section>
