<section>
  <div class="grid-container register-details animate__animated animate__fadeIn animate__delay-0.4s">
    <mat-tab-group mat-align-tabs="start" class="register-tabs">
      <mat-tab label="Liquidacion">
        <mat-card *ngIf="liquidacion != null">
          <mat-card-header>
            <mat-card-title> {{ 'LIQUIDACIONES.USER' | translate}}: {{ liquidacion.user.fullName | slice:0:20}}
            </mat-card-title>
            <mat-card-subtitle> {{ 'LIQUIDACIONES.PERIODO' | translate}}: {{liquidacion.periodo | date:'dd/MM/yyyy'}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{ 'LIQUIDACIONES.AREA' | translate}}: {{liquidacion.area }}
            </p>
            <p>
              {{ 'LIQUIDACIONES.DEDUCCIONES' | translate}}: {{liquidacion.deducciones }}
            </p>
            <p>
              {{ 'LIQUIDACIONES.NUMERORECIBO' | translate}}: {{liquidacion.numeroRecibo }}
            </p>
            <p>
              {{ 'LIQUIDACIONES.CREATEDAT' | translate}}: {{liquidacion.createdAt | date:'hh:mm dd/MM/yyyy' }}
            </p>
            <p>
              {{ 'LIQUIDACIONES.SECCION' | translate}}: {{liquidacion.seccion }}
            </p>
            <p>
              {{ 'LIQUIDACIONES.TIPOLIQUIDACION' | translate}}: {{liquidacion.tipoLiquidacion.tipo }}
            </p>
            <p>
              {{ 'LIQUIDACIONES.TOTAL' | translate}}: {{liquidacion.total }}
            </p>
            <p>
              {{ 'LIQUIDACIONES.TOTALREMUNERATIVO' | translate}}:
              {{liquidacion.totalRemunerativo }}
            </p>
            <p>
              {{ 'LIQUIDACIONES.TOTALNOREMUNERATIVO' | translate}}:
              {{liquidacion.totalNoRemunerativo }}
            </p>
            <p>
              {{ 'LIQUIDACIONES.TOTALDEDUCCIONES' | translate}}:
              {{liquidacion.totalDeducciones }}
            </p>

          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button color="accent" (click)="editLiquidacion(liquidacion.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteLiquidacion(liquidacion.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>
    </mat-tab-group>



    <mat-tab-group class="tabs-extras">

      <mat-tab *ngIf="liquidacionConcepto && liquidacionConcepto.length > 0"
        label="{{ 'LIQUIDACIONESCONCEPTOS.CONCEPTOS' | translate}}">
        <div>
          <app-conceptos-list [liquidacionConcepto]="liquidacionConcepto"></app-conceptos-list>
        </div>

      </mat-tab>


    </mat-tab-group>


  </div>
</section>
