section {
  margin-bottom: 15%;
}

.register-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;

  @media (max-width: 1400px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.tabs-extras {
  width: 55%;

  @media (max-width: 1400px) {
    width: 95%;
  }

}

.register-tabs {
  width: 35%;

  @media (max-width: 1400px) {
    width: 95%;
  }

}


mat-card-title {
  margin-bottom: 20px !important;
  font-size: 1.5em !important;
  font-weight: bold;
}

mat-card-subtitle {
  font-size: 1.4em !important;
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

mat-card-header {
  height: 15 0px;
  margin-top: 20px !important;
}

mat-card-content p {
  font-size: 1.2em;
}

mat-card-actions {
  margin-top: 40px;
  align-items: start;
}
