<div class="form-extras">
  <div class="header-extras">
    <mat-card-header>
      <mat-card-title class="title-extras">{{ 'IMPORTACION.TITULO' | translate }}</mat-card-title>
    </mat-card-header>
  </div>
  <div class="content-extras">
    <mat-card-content>
      <div class="row-extras">
        <div class="col-extras">
          <label>{{ 'IMPORTACION.CONCEPTOS' | translate }}</label>
          <input required (change)="selectConceptos($event)" type="file" color="primary" accept=".csv">
        </div>
      </div>

      <div class="row-extras">
        <div class="col-extras">
          <label>{{ 'IMPORTACION.MAESTRO' | translate }}</label>
          <input required (change)="selectMaestro($event)" type="file" color="primary" accept=".csv">
        </div>
      </div>
    </mat-card-content>
  </div>
  <div class="actions-extras">
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">{{ 'IMPORTACION.IMPORTAR' | translate }}</button>
    </mat-card-actions>
  </div>
</div>
